@import "./reset.css";
@import "./components/start.css";
@import "./components/question.css";
@import "./components/result.css";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}