@import "./reset.css";
@import "./components/start.css";
@import "./components/question.css";
@import "./components/result.css";

body {
  background-color:slategray;
  height: 100vh;
}

.container {
  width: 60%;
  height: 60%;
  background-color:white;
  display: flex;
  flex-direction: column;
  margin: 10% auto;
}