@import "./reset.css";
@import "./components/start.css";
@import "./components/question.css";
@import "./components/result.css";

body {
  background-color: tomato;
  height: 100vh;
}

.container {
  width: 90%;
  height: 90%;
  background-color:white;
  display: flex;
  flex-direction: column;
  margin: 5% auto;
}