.question {
  display: flex;
  display: none;
  flex-direction: column;
  margin-top: 20px;
  
}

.question-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 150px;
}

.question-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: 80%;
}

.q-button {
  padding: 15px 0px;
  margin: 20px 0px;
}